
<table>
    <tr> 
      <td>
        <a routerLink="public-page">[PUBLIC-PAGE]</a>
      </td>
      &nbsp;&nbsp;
      <td>
        <a routerLink="restricted-page">[RESTRICTED-PAGE]</a>
      </td>
    <td><button (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button></td>
    <td><button (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td>
  </tr>
</table>
 

<div *ngIf="isLoggedIn()">
  <h1>You are logged in</h1>
</div>

<div *ngIf="!isLoggedIn()">
  <h1>You are not logged in</h1>
</div>

<table *ngIf="isLoggedIn()">
<tr>
  <td><button (click)="callProfile()">GET PROFILE</button></td>
</tr>
<tr><td>Api response: {{apiResponse}}</td></tr>

<tr><td><button (click)="callApi()">CALL API</button></td></tr>
</table>
<router-outlet></router-outlet>
  